<div id="container">
<div id="image1" style="position:absolute; overflow:hidden; left:0px; top:0px; width:214px; height:600px; z-index:0">
          <%= image_tag('618462_86085382.jpg') %></div>

<div id="g_shape1" style="position:absolute; overflow:hidden; left:0px; top:133px; width:823px; height:25px; z-index:2">
<%= image_tag('shape87972906.gif') %></div>

<%= render(:partial => "title") %>
<%= render(:partial => "menu") %>
<%= render(:partial => "titledespre") %>

<div id="image2" style="position:absolute; overflow:hidden; left:214px; top:356px; width:622px; height:35px; z-index:4">
              <%= image_tag('Galben.jpg') %></div>
         
<div id="image3" style="position:absolute; overflow:hidden; left:214px; top:425px; width:622px; height:35px; z-index:5">
              <%= image_tag('Maro.jpg') %></div>

<div id="image4" style="position:absolute; overflow:hidden; left:214px; top:565px; width:622px; height:35px; z-index:6">
              <%= image_tag('Negru.jpg') %></div>

<div id="image5" style="position:absolute; overflow:hidden; left:214px; top:286px; width:621px; height:35px; z-index:7">
              <%= image_tag('Rosu.jpg') %></div>

<div id="image6" style="position:absolute; overflow:hidden; left:214px; top:495px; width:622px; height:35px; z-index:8">
              <%= image_tag('Verde.jpg') %></div>

<div id="text1" style="position:absolute; overflow:hidden; left:220px; top:263px; width:176px; height:23px; z-index:9">
<div class="wpmd">
<div><font face="Century Gothic">Rosu</font></div>
</div></div>

<div id="text2" style="position:absolute; overflow:hidden; left:220px; top:333px; width:176px; height:23px; z-index:10">
<div class="wpmd">
<div><font face="Century Gothic">Galben</font></div>
</div></div>

<div id="text3" style="position:absolute; overflow:hidden; left:220px; top:402px; width:176px; height:23px; z-index:11">
<div class="wpmd">
<div><font face="Century Gothic">Maro</font></div>
</div></div>

<div id="text4" style="position:absolute; overflow:hidden; left:220px; top:542px; width:176px; height:23px; z-index:12">
<div class="wpmd">
<div><font face="Century Gothic">Negru</font></div>
</div></div>

<div id="text5" style="position:absolute; overflow:hidden; left:220px; top:472px; width:176px; height:23px; z-index:13">
<div class="wpmd">
<div><font face="Century Gothic">Verde</font></div>
</div></div>

<div id="text6" style="position:absolute; overflow:hidden; left:220px; top:220px; width:568px; height:27px; z-index:14">
<div class="wpmd">
<div><font face="Century Gothic" class="ws12">O parte dintre culorile noastre...</font></div>
</div></div>

</div>

