
<div id="container">
<div id="image1" style="position:absolute; overflow:hidden; left:0px; top:0px; width:214px; height:600px; z-index:0">
        <%= image_tag('645667_18248803.jpg') %></div>

<div id="g_shape1" style="position:absolute; overflow:hidden; left:0px; top:133px; width:823px; height:25px; z-index:2">
         <%= image_tag('shape87972906.gif') %></div>
		 
<%= render( :partial => "title") %>
<%= render( :partial => "menu") %>
<%= render( :partial => "titleproiecte") %>

<div id="text1" style="position:absolute; overflow:hidden; left:255px; top:201px; width:214px; height:178px; z-index:5">
<div class="wpmd">
<div align=justify><font face="Century Gothic" class="ws8"><B><I>Pentru realizarea unui blat de bucatarie din beton sunt necesari 8 pasi:</I></B></font></div>
<div align=justify><font face="Century Gothic" class="ws8">1. Stabilirea culorii, texturii si a insertiilor pentru realizarea unei mostre</font></div>
<div align=justify><font face="Century Gothic" class="ws8">2. Realizarea machetei</font></div>
<div align=justify><font face="Century Gothic" class="ws8">3. Construirea cofrajului</font></div>
<div align=justify><font face="Century Gothic" class="ws8">4. Turnarea blatului</font></div>
<div align=justify><font face="Century Gothic" class="ws8">5. Decofrarea blatului</font></div>
<div align=justify><font face="Century Gothic" class="ws8">6. Prelucrarea mecanica a texturii</font></div>
<div align=justify><font face="Century Gothic" class="ws8">7. Sigilarea blatului</font></div>
<div align=justify><font face="Century Gothic" class="ws8">8. Transportul si montajul blatului </font></div>
</div></div>

<div id="text2" style="position:absolute; overflow:hidden; left:481px; top:201px; width:341px; height:180px; z-index:6">
<div class="wpmd">
<div><font face="Century Gothic" class="ws8"><B><I>Cat costa?</I></B></font></div>
<div align=justify><font face="Century Gothic" class="ws8">Preturile incep de la </font><font face="Century Gothic" class="ws8"><B>400 RON/mp + TVA</B></font><font face="Century Gothic" class="ws8"> </font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
<div align=justify><font face="Century Gothic" class="ws8"><B><I>Avantaje:</I></B></font></div>
<div><font face="Century Gothic" class="ws8">- practic si expresiv in acelasi timp</font></div>
<div><font face="Century Gothic" class="ws8">- cromatica infinita</font></div>
<div><font face="Century Gothic" class="ws8">- poate fi turnat in orice forma</font></div>
<div><font face="Century Gothic" class="ws8">- poate fi frezat, slefuit si lustruit pentru a obtine orice textura</font></div>
<div><font face="Century Gothic" class="ws8">- poate fi personalizat prin inserarea de roci, fosile, piese metalice, etc.</font></div>
</div></div>

<div id="example2" style="position:absolute; overflow:hidden; left:255px; top: 380px; width:444px; height:220px; z-index:1">
			<div id="slides">
				<div class="slides_container">
					<div class="slide2">
		                <%= image_tag('blat1.JPG') %>     
						<div class="caption2" style="bottom:0">
							<p>Blat bucatarie - agregate expuse + insertie amonit</p>
						</div>
					</div>
					
					<div class="slide2">
		                <%= image_tag('blat2.JPG') %>     
						<div class="caption2" style="bottom:0">
							<p>Blat bucatarie - agregate expuse + insertie amonit</p>
						</div>
					</div>
			
				    <div class="slide2">
		                <%= image_tag('blat3.JPG') %>     
						<div class="caption2" style="bottom:0">
							<p>Blat bucatarie - agregate expuse + insertie amonit</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

