<div id="container">
<div id="image1" style="position:absolute; overflow:hidden; left:0px; top:0px; width:214px; height:600px; z-index:0">
                <%= image_tag('645667_18248803.jpg') %></div>
<div id="g_shape1" style="position:absolute; overflow:hidden; left:0px; top:133px; width:823px; height:25px; z-index:2">
                <%= image_tag('shape87972906.gif') %></div>

<%= render( :partial => "title")%>
<%= render( :partial => "menu") %>
<%= render( :partial => "titleproiecte") %>

<div id="text1" style="position:absolute; overflow:hidden; left:245px; top:201px; width:579px; height:243px; z-index:5">
<div class="wpmd">
<div align=justify><font face="Century Gothic" class="ws8"><B>Personalizare</B></font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
<div align=justify><font face="Century Gothic" class="ws8">In functie de necesitatile clientilor putem crea placaje din beton decorativ personalizate. Textura poate fi lucioasa, presata sau poroasa. De asemenea pot fi inscrise litere, cifre sau motive geometrice sau inserate fosile, fibra optica, etc. Pentru a va face o idee va rugam sa aruncati o privire la sectiunea Mostre.</font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
<div align=justify><font face="Century Gothic" class="ws8"><B>Dimensiuni</B></font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
<div align=justify><font face="Century Gothic" class="ws8">Dimensiunile placajelor sunt in functie de proiectul dumneavoastra. De la clasicele dale de 40x40x2 cm, la dimensiuni atipice cum ar 100x10x1,5 cm. Dumneavoastra alegeti.</font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
<div align=justify><font face="Century Gothic" class="ws8"><B>Cat costa?</B></font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
<div align=justify><font face="Century Gothic" class="ws8">Preturile incep de la </font><font face="Century Gothic" class="ws8"><B>45 RON/mp + TVA</B></font><font face="Century Gothic" class="ws8">. In functie de dimensiuni, cromatica, agregatele si insertiile folosite preturile suporta modificari. Pentru o estimare reala va rugam sa ne contactati.</font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
<div><font face="Century Gothic" class="ws8"><BR></font></div>
<div><font face="Century Gothic" class="ws8"><BR></font></div>
<div><font face="Century Gothic" class="ws8"><BR></font></div>
<div><font face="Century Gothic" class="ws8"><BR></font></div>
<div><font face="Century Gothic" class="ws8"><BR></font></div>
<div><font face="Century Gothic" class="ws8"><BR></font></div>
</div></div>

<div id="image2" style="position:absolute; overflow:hidden; left:245px; top:460px; width:116px; height:140px; z-index:6">
        <%= image_tag('Alb_nsp.JPG') %></div>

<div id="image3" style="position:absolute; overflow:hidden; left:361px; top:460px; width:116px; height:140px; z-index:7">
        <%= image_tag('Caramiziu_nsp.JPG') %></div>

<div id="image4" style="position:absolute; overflow:hidden; left:477px; top:460px; width:116px; height:140px; z-index:8">
        <%= image_tag('Bej_agr.JPG') %></div>

<div id="image5" style="position:absolute; overflow:hidden; left:593px; top:460px; width:114px; height:140px; z-index:9">
        <%= image_tag('Albastru_nsp.JPG') %></div>

<div id="image6" style="position:absolute; overflow:hidden; left:707px; top:460px; width:116px; height:140px; z-index:10">
        <%= image_tag('Verde_agr.JPG') %></div>

</div>
