<div id="container">
<div id="image1" style="position:absolute; overflow:hidden; left:0px; top:0px; width:214px; height:600px; z-index:0">
         <%= image_tag('645667_18248803.jpg') %></div>
		
<div id="g_shape1" style="position:absolute; overflow:hidden; left:0px; top:133px; width:823px; height:25px; z-index:2">
         <%= image_tag('shape87972906.gif') %></div>

<%= render( :partial => "title") %>
<%= render( :partial => "menu") %>
<%= render( :partial => "titleproiecte") %>

<div id="text1" style="position:absolute; overflow:hidden; left:246px; top:204px; width:576px; height:396px; z-index:5">
<div class="wpmd">
<div align=justify><font face="Century Gothic">In sfarsit partea frumoasa a tuturor lucrurilor... creatia. Evident ca noi, cativa indivizi, suntem cantitativ si calitativ departe de actul creator al maselor. De aceea ne place sa fim si sa ne lasam inspirati de orice idee. Nu va promitem ca le vom materializa pe toate, dar suntem deschisi la ele. Fie buna sau rea, o parere exprimata valoareaza de zeci de ori mai mult decat una interiorizata. Asa ca, va rugam sa nu ne crutati si sa aruncati cu ele dupa noi.</font></div>
<div align=justify><font face="Century Gothic"><BR></font></div>
<div align=justify><font face="Century Gothic"><BR></font></div>
<div align=justify><font face="Century Gothic"><B><I>Am o idee! Ce fac cu ea? Simt ca o scap...</I></B></font></div>
<div align=justify><font face="Century Gothic"><BR></font></div>
<div align=justify><font face="Century Gothic">Nu mai sta pe ganduri. Foloseste formularul de la contact si trimite-ne-o si noua. Daca crezi ca nu are amanare pune mana pe telefon si suna-ne. Vom fi mai mult decat incantati sa va auzim parerea.</font></div>
<div align=justify><font face="Century Gothic"><BR></font></div>
<div align=justify><font face="Century Gothic"><BR></font></div>
<div align=justify><font face="Century Gothic"><B><I>Proverb celebru demn de Revistele Mondene si Ziarele de scandal: </I></B></font></div>
<div align=justify><font face="Century Gothic"><BR></font></div>
<div align=justify><font face="Century Gothic"><I>"Mintile ilustre discuta idei, inteligentele medii discuta evenimente, iar mintile reduse ii discuta pe altii."</I></font></div>
<div align=justify><font face="Century Gothic" class="ws8"><BR></font></div>
</div></div>

</div>