<h1>Listing images</h1>

<table>
<tr>
<th>Name</th>
</tr>

<% for image in @images %>
<tr>
<td><%=h image.name %></td>
<td><%= image_tag image.name,:alt =>image.name,:size=>'320x244'%></td>
<td><%= link_to 'Show', image %></td>
<td><%= link_to 'Edit', edit_image_path(image) %></td>
<td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<br />

<%= link_to 'New Image', new_image_path %>
